@charset "UTF-8";
@import url("lib/font-awesome/css/all.min.css");
@import url("lib/bootstrap/dist/css/bootstrap.min.css");

html {
  position: relative;
  min-height: 100%;
}
 
body {
  margin-bottom: 90px;
}
 

a, a:visited, a:link, a:hover, a:active {}
a.blog_lien, a.blog_lien:visited, a.blog_lien:link, a.blog_lien:hover, a.blog_lien:active {}

.blog_titre_blog {}
.blog_titre {}
.blog_new {}
.blog_bloc {
  margin: 73px 0 0px;

}
.blog_textbox {}
.blog_bouton {}
.blog_sname {float:left;margin-left: 1rem;}
.blog_npds {float:right;margin-right: 1rem;}

.blog_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  
}

.page-header {
margin: 73px 0 20px;
padding:15px;
}

