/* ----------------------------------------------------------------------
   1. BASE MINIMUM
---------------------------------------------------------------------- */
/* body {

    background: transparent -moz-linear-gradient(center top , #E7E3CF 0.1em, transparent 0.1em) repeat scroll 0% 0% / 100% 1.5em;
} */
/* ----------------------------------------------------------------------
   2. LIENS - standard
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   3. LIENS - de style noir.
   => en gÈnÈral les actions ´ positives ª quand se ne sont pas des boutons
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   4 LIENS - de style rouge.
   => en gÈnÈral les actions de type: annulation, suppression,
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   5 LIENS - de style box
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   6 LIENS - de style heada
   => administration, tÈlÈchargement, annuaire notamment
---------------------------------------------------------------------- */
a.heada, a.heada:visited, a.heada:active {/* Admin (haut et bas) - Download - Annuaire */
	color: black;
	font-weight: bold;
	text-decoration: none;
}
/* ----------------------------------------------------------------------
   7 LIENS - de style ongl
   => fortement utilisÈ par le CMS
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   8 LES STYLES SUR DES BALISES DE BASES
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   9 LES STYLES SUR LES TABLEAUX
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   9a. LES STYLES SUR LES TABLEAUX
   => UtilisÈs par la fonction tablos(), permet díalterner les couleurs des lignes de tableau
---------------------------------------------------------------------- */

   
table {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #DDD;
    margin-bottom: 1.25rem;
    table-layout: auto;
    
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: #F9F9F9 none repeat scroll 0% 0%;
}
/* ----------------------------------------------------------------------
   9b. LES STYLES SUR LES TABLEAUX
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   9c. LES STYLES SUR LES TABLEAUX
   => TrËs fortement utilisÈ pour la grande majoritÈ des entÍtes de tableaux
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   10 LIGNE DE SEPARATION (MENU ADMINISTRATION, MENU MEMBRE Ö)
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   11 LES STYLES SUR LES CHAMPS DE FORMULAIRES
---------------------------------------------------------------------- */
.inputa { /* champ de saisie, LNL, moteur de recherche notamment */
   background-color: #FDFDFD;
   border-top: #864732 2px solid;
   border-bottom: #D7B39B 2px solid;
   border-left: #864732 2px solid;
   border-right: #D7B39B 2px solid;
   color: #682B1A;
   height: 15px;
   vertical-align: middle;
   width: 80px;
}
.textbox .textbox_no_mceEditor { /* Champs de formulaire */
   width: 95%;
   background-color: #FDFDFD;
   color: #682B1A;
   font-weight: bold;
   text-decoration: none;
   border-top: #B07A64 2px groove;
   border-left: #B07A64 2px groove;
   border-bottom: #682B1A 1px inset;
   border-right: #682B1A 1px inset;
}
.textbox_standard { /* Champs de formulaire */
   background-color: #FDFDFD;
   border-bottom: #D7B39B 1px solid;
   border-left: #D7B39B 1px solid;
   border-right: #D7B39B 1px solid;
   border-top: #D7B39B 1px solid;
   color: #864732;
}
.bouton_standard { /* Champs de formulaire */
   margin-top: 3px;
   cursor: pointer;
   background-color: #FDFDFD;
   color: #682B1A;
   font-weight: bold;
   text-decoration: none;
   border-top: #D7B39B 2px solid;
   border-bottom: #864732 2px solid;
   border-left: #D7B39B 2px solid;
   border-right: #864732 2px solid;
}
.titboxc { /* administration, commentaires, tÈlÈchargement notamment */
   background-color:transparent;
   color: #9e5a42;
   font-weight: bold;
}
.titboxcont { /* bloc administrateur, bloc message ‡ un membre notamment */
   background-color: transparent;
   color: #C5BF3B;
   font-weight: bold;
}
.titre { /* Administration */
   background-color: transparent;
   color: #C5BF3B;
   font-weight: bold;
}
.titrea { /* sondages, commentaires, critiques, sections notamment */
   background-color: transparent;
   color: #682B1A;
   font-weight: bold;
   letter-spacing  : 1px;
   text-indent     : 1px;
   padding         : 2px;
}
.titreb { /* sondages */
   background-color: transparent;
   color: #91533D;
   font-weight: bold;
   text-decoration: none;
}
.titrec { /* bloc de Chat */
   background-color: transparent;
   color: #D5B199;
   font-family: Georgia, "Times New Roman", serif;
   text-decoration: none;
}
/* ----------------------------------------------------------------------
   12 STATS - Jireck' work
---------------------------------------------------------------------- */

.graph .bar span { 
  position: absolute; 
  left: 1em;

}
.graph{ text-align: left;}
/* ----------------------------------------------------------------------
   13 THEME
---------------------------------------------------------------------- */


/* ----------------------------------------------------------------------
   14  Liens Tooltip ==> Info Bulles
---------------------------------------------------------------------- */
.popover, .popover-title {font-size:11px;}
.tooltip {font-size:11px;}
/*------------------------------------------------>
      CSS ComplÈmentaire pour vos  Formulaires
              ICI en Version Light
-------------------------------------------------->*/

 form {
    padding-left: 0.525rem
 }

/*------------------------------------------------>
      CSS ComplÈmentaire pour vos  Formulaires
              ICI en Version Light
-------------------------------------------------->*/


/*jmd work*/

/************************************************************************
Dimension du site 
*************************************************************************/
body {
	text-align: center; /* pour corriger un bug de centrage IE */
	padding: 0px;

        background-repeat: repeat repeat;
}


#container {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
        background-image: url("../images/fond1.png");
        width:100%;

}

/************************************************************************
La Partie HEADER de votre Site
*************************************************************************/
header { /* Le Header Complet */

	width: 100%;
	height: auto;
	margin-left:auto;
	margin-right:auto;

}


/************************************************************************
La Partie CENTRALE de votre Site     colonne (s) et partie centrale
*************************************************************************/
#centralcol{
   padding:10px;
}


#corps, #decofoot,#decohead{  /* corps= entre header et footer */
        max-width: 1440px;   /*   A changer si vous voulez divisible par 3 et par 4 */
 	margin-left:auto;
	margin-right:auto;
	padding: 1em;
         }

#corps {background: #fff; }

/************************************************************************
Colonnes Gauche - Droite et Vos Blocs       voir le fichier php
*************************************************************************/

.rightbloc, .leftbloc{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.298);
    background-color: #FAFAFA;
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    margin-right:5px;
}

.leftbloc{
padding:0.15em;
}
/************************************************************************
La Partie Footer de votre Site
*************************************************************************/
footer {
	text-align: left;
	padding-top: 0;
	width: 100%;
	clear: both;
}

#footer{background-color:AliceBlue;}
/********************
le  header   et son contenu ( sa taille est ds decoheader)
**********************/
.header1{
        background: #fff; 
  	margin:0px;
	padding: 5px;
	height: auto;
  }


/*****************************************
Adaptation des css au fil du test
*********************************************/
 .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}



 /* texte et alignements*/
 
h2, .h2 {
    background: antiquewhite;
    padding: 0px 5px 0px 5px;}
h3, .h3 {
    background: aliceblue;
    padding: 0px 5px 0px 5px;}



#nav{background-color:#FFE667;}


.sidebox {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.298);
    background-color: #FAFAFA;
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 3px;
    padding: 18px;
    margin-top: 28px;
}


.redborder {border: 1px solid red;}

.blackborderg {border-right: 1px solid black;}
.blackborder {border: 1px dotted black;}

.beige {background-color:Beige;}

/*****************************************
Adaptation des css au fil du test
*********************************************/
 .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
/*------------------------------
Pour rendre les vidÈo youtube responsives
*******************************************/
    .videocontainer{
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      position: relative;
    }

    .videocontainer iframe, .videocontainer embed, .videocontainer object{
      width: 100%!important; height: 100%!important;
      position: absolute;
      top: 0; left: 0;
    }
    
 /* Google Gmap3 bug fix on images */
.gm-style img {
  height: 100%;
}
:not(.gm-style) img {
  height: auto;
}
.gm-style img,
.gmnoscreen img,
.gmnoprint img {
  max-width: none !important;
}

/********************
citation pour les forums
*******************/
.blockquote {
    border: 1px dotted #000;
    margin: 5px;
    padding: 5px;
    width: 90%;
}

/***********************
Pour eviter que les images ne dÈbordent
***************************/
.row {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
}
/*********************
pour les formulaires*/
input, select, textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em;
    width: auto;
    font-family: inherit;
    font-size: 1em;
}



legend { /* Titre pour identifier chaque fieldset */
  font-size:1.1em;
  color: #B80B36;
  font-weight: bold;
}

.bouton_standard {
    margin-top: 3px;
    cursor: pointer;
    background-color: #FDFDFD;
    color: #682B1A;
    font-weight: bold;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: #D5B199 #864732 #864732 #D5B199;
}



/*******Pour les police des formulaires  et deco jmd  */
.form-control {
    max-width: 100%;
    font-size: 14px;
    background-color: #FDFDFD;
    border-width: 1px;
    border-style: solid;
    border-color: #D5B199;
    color: #864732;
 }

.checkbox label input:only-child, .radio label input:only-child {
    position: absolute;
}
/* ==> add by jpb */
ol {
list-style-type: decimal;}
#leftcol ul {
list-style-type:none;
}

input[type="Submit"], [type="Reset"], [type="Return"] {
   
    cursor: pointer;
    background-color: #FDFDFD;
    color: #682B1A;
    font-weight: bold;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #D5B199 #864732 #864732 #D5B199;
}

/* ==> class de NPDS dans le core */
/* tailles des emoticones et autre petites images subject forum etc*/
.smil {
width:24px;
height:24px;
display:inline;
}
/* tailles max des avatars*/
.n-ava {
    max-width: 48px;
    max-height: 48px;

}

.n-ava-small {
    max-width: 48px;
    max-height: 48px;
    margin: 0.150rem;
}

#adm_block li{
width: 80px;
margin: 3px;
padding: 3px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
}


/*bloc ws*/
a.tooltip_ws em {
   display:none;
   width:90px;
}
a.tooltip_ws:hover {
    border: 0;
    position: relative;
    z-index: 1070;
    text-decoration:none;
}
 a.tooltip_ws:hover em {
   z-index: 1070;
   font-style: normal;
   font-size: 11px;
   display: block;
   top: 20px;
   left: -10px;
   padding: 5px;
   color: #000;
   border: 1px solid #999999;
   background: #F8F8F8;
   width:200px;
   text-align: left;
   position: absolute; left: 2em; top: 2em;
   border-radius: 5px;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
   -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
   -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
a.tooltip_ws:hover em span {
    position: absolute;
    top: -7px;
    left: 15px;
    height: 7px;
    width: 11px;
    margin:0;
    padding: 0;
    border: 0;
    }





/*<== class de NPDS dans le core */

/* ==> class de BS dans le core */
/* réimpléméntation pour V4.00 et 02 */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #626262;
} 
.form-control-feedback {
position: absolute;
display: inline-block;
top: 9px;
right: 35px;
}
/*adaptation class has-danger(BS4) <= has-error(BS3) pour form validation*/
.has-error .text-help,
.has-error .form-control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error small.help-block,
.has-error span.help-block
 {
  color: #d9534f;
}
.has-error .form-control {
  border-color: #d9534f;
}
.has-error .input-group-addon {
  color: #d9534f;
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.has-error .form-control-feedback {
  color: #d9534f;
}
.has-error .form-control-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=");
}
/* <== class de BS dans le core */

/* <== add by jpb */

img, table, td, blockquote, code, pre, textarea, input, svg {
    height: auto;
    max-width: 100%;
    border-collapse: collapse;
    padding-left: 0.250em;
}

/*****jmd* pour dÈcoler le texte des bordures de Table*/

.n-signature {
    font-style: italic;
    text-align: right !important;
    padding-top: 1.1rem !important;
}
  

.img-fluid1{
            float: left;
            margin-right: 10px;
}

td, th {
    padding: 5px;
}


.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    position: absolute;
    margin-top: 0.5rem;/*jpb 30/01*/
    margin-left: -1.7rem;/*jpb 30/01*/
}

ol li:nth-child(2n+1){background-color:#f9f9f9;}
/* pour une liste */

/*************
pagination*/
.pagination-sm .page-link {
  padding: 0.275rem 0.75rem;
  font-size: 1.250rem;
  line-height: 1.5; }
  
/* Boutons*/ 



.btn-sm, .btn {width: auto;}



.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.75rem;
  font-size: 1.250rem;
  line-height: 1.5;
  border-radius: 0.2rem; }

.btn-primary-outline {
    color: #0275D8;
    font-size: 1.250rem;
    background-color: transparent;
    background-image: none;
    border-color: #0275D8;
}

.btn-secondary{
background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1); }

/* ajustement bmag*/
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    text-rendering: auto;
    padding-right: 1rem;
}

.btn {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
}


/* ==> hauteur et scroll des modal */
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}