/* CSS bloc-note pour NPDS Revolution */
	
.bn_head_d {
	width: 51px;
	height: 20px;
	background-repeat: no-repeat;
}
.bn_head_g {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
	color: #000000;
	width:100%;
	height:20px;
	position:relative;
	background-color: #FFE500;
}
.bn_corps {
	width:100%;
	background-color: #FFE500;
}
.bn_textbox_no_mceEditor {
	font-size: 1em;
	background-color: #ffffff;
	border: solid #D4D500;
	color: #45445b;
	width: 90%;
}
.bn_foot {
	background-color: #FFE500;
	width:100%;
	line-height: 3px;
}
.bn_bouton_standard {
}