/*css pour bloc ws*/

#li_mb {width:94px;float:left;}

.ul_bloc_ws {
   list-style-type: none;
   list-style-image: none;
   background-image: none;
   background:none;
   padding:2px;
   margin:0;
}
.dim_ima {width:16px; height:18px;}
.vam_bo_0 {vertical-align:text-bottom; border:0;}
.li_18 {line-height:18px; margin-top:0;}
.li_mb {
   clear:left;
   padding: 0px 1px 0px 0px;
   line-height:18px;
   margin-top:0;
   background:none;
}
.di_bloc_ws {
   min-width: 100px;
   padding-left:2px;
   padding-bottom: 2px;
   padding-right: 2px;
   padding-top: 2px;
}
.di_bloc_ws li ul{
   list-style-image: none;
   background-image: none;
   background:none;
   margin-left: 0;
   padding-left:0;
}
.di_bloc_ws ul{
   list-style-type: none;
   list-style-image: none;
   background-image: none;
   background:none;
   margin-left: 0;
   padding-left:0;
}

/*=> pour theme Permanent-Double-Side*/
div.bloc_cont1b ul li {
   list-style-image: none;
}
div.bloc_cont1b .di_bloc_ws {
   color: darkSlateGray;
   font-weight: normal;
   text-align: left;
   top: 30px;
   width: 130px;
}
/*<= pour theme Permanent-Double-Side*/

/*=> pour theme marina serie, brown, Mouse-IT2*/
.leftbloc .LB_contain .di_bloc_ws ul{
background-image: none;
list-style-type: none;
margin-top: 1px;
margin-left: 1px;
padding: 0 0 0 0;
}
.leftbloc .LB_contain .di_bloc_ws ul li{
background-image: none;
list-style-type: none;
margin-top: 1px;
margin-left: 1px;
padding: 0 0 0 0;
}

.rightbloc .RB_contain .di_bloc_ws ul{
background-image: none;
list-style-type: none;
margin-top: 1px;
margin-left: 1px;
padding: 0 0 0 0;
}
.rightbloc .RB_contain .di_bloc_ws ul li{
background-image: none;
list-style-type: none;
margin-top: 1px;
margin-left: 1px;
padding: 0 0 0 0;
}/*<= pour theme marina serie, brown, Mouse-IT2*/

/*<= pour theme npds2005*/
#colgau .conten .di_bloc_ws li {list-style-image: none;}
/*<= pour theme npds2005*/

/*<= pour Module Bloc-Notes*/
.bn_corps {
	
}
.bn_textbox_no_mceEditor {
	border: thin dashed;
}
.bn_foot {
	display: none;
}
.bn_bouton_standard {
	font-size:10px;
}
/*<= pour Module Bloc-Notes*/