/* ----------------------------------------------------------------------
   1. BASE MINIMUM
---------------------------------------------------------------------- */

/** <== Classes BS4                                                         **/

/** ==> Classes NPDS-core [prefixe n-]                                      **/

/* ==> pour les avatars et images   MODIF BMAG */

/** ==> Balise html                                                         **/
/*     Balise html                                                           */
html{font-size: 14px;}
body {font-size: 1rem;}
a:hover {text-decoration:none;}
/** <== Balise html                                                         **/

.n-ava {
    max-height: 64px;
    max-width: 64px;
}

.n-ava-small {
    max-height: 48px;
    max-width: 48px;
}

.n-smil {
    display: inline;
    width: 24px;
    height: 24px;
}

.n-sujetsize {
    height: auto;
    max-width: 100px;
}

.n-fond_emot,
.n-fond_subject {
    line-height: 28px;
}

/* ==> pour la signature */

.n-signature {
    padding-top: 1.1rem !important;
    text-align: right !important;
    font-style: italic;
}

/* ==> pour les troncatures de mots trop longs */

.n-list-compact-no-bord {
    padding: .35rem 0 .35rem 0;
    border: 0;
}

.n-card-compact-no-padside {
    padding-right: 0;
    padding-left: 0;
    border: 0;
}

.n-hyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
}

.n-ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/** <== Classes NPDS-core  **/

.list-group-item {
    background-color: transparent;
	padding: .75rem .35rem;
}

.list-group-item-action:hover {
    border: 1px solid #ddd;
    text-decoration: none;
    color: #555;
    background-color: #fff;
}

/* ----------------------------------------------------------------------
   6 LIENS - de style heada
   => administration, téléchargement, annuaire notamment
---------------------------------------------------------------------- */

a.heada,
a.heada:visited,
a.heada:active {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* ----------------------------------------------------------------------
   7 LIENS - de style ongl
   => fortement utilisé par le CMS
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   8 LES STYLES SUR DES BALISES DE BASES
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   9 LES STYLES SUR LES TABLEAUX
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   9a. LES STYLES SUR LES TABLEAUX
   => Utilisés par la fonction tablos(), permet d’alterner les couleurs des lignes de tableau
---------------------------------------------------------------------- */

table {
    margin-bottom: 1.25rem;
    border: 1px solid #DDD;
    table-layout: auto;
    background: #FFF none repeat scroll 0% 0%;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(2n) {
    background: #F9F9F9 none repeat scroll 0% 0%;
}



/*jmd work*/

/* adapt JMD pour correspondances avec Rocssti*/
 .row1 {margin-right: auto;margin-left: auto;}

/************************************************************************
Dimension du site 
*************************************************************************/

body {
    padding: 0;
    text-align: center; /* pour corriger un bug de centrage IE */
    background-repeat: repeat repeat;
}

#container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-image: url("../images/fond1.png");
}

#corps,
#decofoot,
#decohead {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    
}

/************************************************************************
La Partie HEADER de votre Site
*************************************************************************/

header {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/************************************************************************
La Partie CENTRALE de votre Site     colonne (s) et partie centrale
*************************************************************************/

#centralcol {
    padding: 10px;
}



#corps {
    background: #fff;
}

/************************************************************************
Colonnes Gauche - Droite et Vos Blocs       voir le fichier php
*************************************************************************/

#leftcol ul {
    padding-left: 0;
    list-style: none;
}

.rightbloc,
.leftbloc {
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #333;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.298);
}

/************************************************************************
La Partie Footer de votre Site
*************************************************************************/

footer {
    clear: both;
    width: 100%;
    padding-top: 0;
    text-align: left;
}

#footer {
    background-color: AliceBlue;
}

#footer a {
    color: #2573be;
cursor: pointer;
}

#footer a:hover {
    color: #333;

}
/********************
le  header   et son contenu ( sa taille est ds decoheader)
**********************/

.header1 {
    height: auto;
    margin-top: 1px;
    margin-bottom: 5px;
    border: 1px solid rgb(255,255,255);
    border-radius: 3px;
    color: rgb(51,51,51);
    background: -webkit-box-shadow;
    background-color: rgb(250,250,250);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3) ,0 0 10px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3) ,0 0 10px rgba(0,0,0,0.1) inset;
}

/*****************************************
Adaptation des css au fil du test
*********************************************/

/* texte et alignements*/

h2,
.h2 {
    padding: 0 5px 0 5px;
    background: antiquewhite;
}

h3,
.h3 {
    padding: 0 5px 0 5px;
    background: aliceblue;
}

#nav {
    background-color: #FFE667;
}

.sidebox {
    margin-top: 28px;
    padding: 18px;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #333;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.298);
}

.redborder {
    border: 1px solid red;
}

.blackborderg {
    border-right: 1px solid black;
}

.blackborder {
    border: 1px dotted black;
}

.beige {
    background-color: Beige;
}

/*------------------------------
Ajustement Bmag pour compatibilite boostrap
*******************************************/
.bg-primary {
    color: #ece7e7 !important;}

/********************
citation pour les forums
*******************/

.blockquote {
    width: 100%;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
    border: 1px dotted #000;
}


label {
    margin: .5rem 0 ;
}



/* pour une liste */

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}


/* pour le tutos uniquement*/


.aqua {
    background: #9FD9AA;
}

.red {
    background: #F9D9BE;
}

.grey {
    background: #ccc;
}


.section{position: relative;
padding: .8em;
margin-bottom: 3em;
border: .25em dotted goldenrod;
color: #555;
background-color: #fff;
}


code, pre, samp {
    white-space: pre-wrap;
    background: beige;
	font-size: .9em;
}

.toc{
	position:fixed;
	top: 35rem;
	width: 10%;
	}

.toc a {
    display: block;
    padding: .6rem 1rem;
    color: #555;
    background: #eee;
    text-decoration: none;
}

.toc a:hover, .toc a:focus {
    color: #555;
    background: #ddd;
}
.toc li {
    list-style-type: none;
    counter-increment: toc;
    margin-bottom: 1px;
}

.toc li::before {
    content: counter(toc);
    float: left;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-right: 2rem;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-radius: 0 0 6px 0;
}