@charset"utf-8";
/*==> module geoloc V4 2019 */
/*==> general*/

#map {
    position: relative;
    height: 540px;
}
#map_bloc {
     width: 100%;
     height: 180px;
}
#map-wrapper {
     position: relative;
     height: 540px;
     width: 100%;
}


/* 
.n-media-repere {color:green;};
 */
@media (max-width: 576px) {
   .n-media-repere {color:red;}
}

#sidebar {
     filter : alpha(opacity=80);
     -moz-opacity : 0.8;
     opacity : 0.8;
/* 
     background: white;
 */
     position: absolute;
     top: 0;
     right: 0;
     min-width: 300px;
     height: 500px;
     overflow: auto;
}

#alert {
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     text-align: center;
     display: none;
}

#alert p {
     width: 150px;
     margin: 0 auto 0 auto;
     padding: 10px;
     background: white;
     border: 1px solid #aaa;
}

#mypoint {
   font-family: "Courier New", Lucida, console, Monaco, monospace;
   text-align: right;
}
#mess_info {}


.non {
display: none;
}
.oui {
display: block;
}

.sou_tit {
    color: gray;
    margin-left: 2px;
}
/*<== general*/

#sidebar a {
  text-transform :lowercase;
  text-transform : capitalize;
}
/* openlayers hack */
.ol-full-screen {
   top : 29em;
   left : .5em;
   right: 99.5em
}
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 320px;
        opacity: 0.9;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
      .ol_li {
         max-height: 280px;
         overflow:auto;
      }

/*<== module geoloc */

.sprite_globe,.sprite_point,.sprite_mbcg,.sprite_acg,sprite-globe_computer,.sprite_fl_d,.sprite_mbcg_small,.sprite_globe_up,.sprite_globe_process,.sprite_help,.sprite_acg_small,.sprite_fl_b,.sprite_ip_ng, .sprite_mbg,.sprite_globe_down,.sprite_info,.sprite_mb_small,.sprite_mbg_small,.sprite_connect,.sprite_loader_grey,.sprite_mbgb {
background: url('../../../modules/geoloc/images/geoloc_ico.png') no-repeat;
}
.sprite_globe { background-position: 0 -30px;  } 
.sprite_point { background-position: 0 -92px; } 
.sprite_mbcg { background-position: 0 -131px;
    line-height: 26px; 
    padding:9px 0 22px 27px; 
    text-align: left;
    margin-left: 2px;
 } 
.sprite_acg { background-position: 0 -185px;
    line-height: 26px; 
    padding:6px 0 22px 27px; 
    text-align: left;
    margin-left: 2px;
 } 
.sprite_globe_computer { background-position: 0 -239px; } 
.sprite_fl_d { background-position: 0 -301px; } 
.sprite_mbcg_small { background-position: 0 -347px;
    line-height: 17px; 
    padding: 1px 1px 1px 16px; 
    text-align: left;
    margin-left: 2px;
} 
.sprite_globe_up { background-position: 0 -393px; } 
.sprite_globe_process { background-position: 0 -455px; } 
.sprite_help { background-position: 0 -517px; 
    line-height: 20px;
    padding: 1px 0px 1px 24px;
    text-align: left;
    margin-right: 2px;
    font-weight: bold;
} 
.sprite_acg_small { background-position: 0 -563px;
    line-height: 17px; 
    padding: 1px 1px 1px 16px; 
    text-align: left;
    margin-left: 2px;
} 
.sprite_fl_b { background-position: 0 -609px; } 
.sprite_ip_ng { background-position: 0 -655px; } 
.sprite_mm_20_shadow { background-position: 0 -717px; } 
.sprite_mbg { background-position: 0 -767px;
    line-height: 26px; 
    padding:9px 0 22px 27px; 
    text-align: left;
    margin-left: 2px;
 } 
.sprite_globe_down { background-position: 0 -821px; } 
.sprite_info { background-position: 0 -883px;
    line-height: 20px;
    padding: 1px 0px 1px 24px;
    text-align: left;
    margin-right: 2px;
    font-weight: bold;
} 
.sprite_mb_small { background-position: 0 -929px;
    line-height: 17px; 
    padding: 1px 15px 1px 16px; 
    text-align: left;
    margin-right: 2px;
 } 
.sprite_mbg_small { background-position: 0 -975px;
    line-height: 17px; 
    padding: 1px 1px 1px 16px; 
    text-align: left;
    margin-left: 2px;
} 
.sprite_connect { background-position: 0 -1021px; } 
.sprite_loader_grey { background-position: 0 -1068px; } 
.sprite_mbgb { background-position: 0 -1130px; }

#markerLayer img {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

/* 
#markerLayer canvas {
   animation: pulse 2s infinite alternate;
   -webkit-animation: pulse 2s infinite alternate;
   transform-origin: center;
   -webkit-transform-origin: center;
}
 */