@charset"utf-8";
/*==> module geoloc */
/*==> general*/
 .res_accon
 {
 	line-height: 40px;
    padding: 22px 0 22px 36px; 
 	background: url('../../../modules/geoloc/images/acg.png') left center no-repeat;
 	text-align: left;
 	margin-left: 2px;
 }
 .res_mbcon {
       line-height: 40px; 
       padding: 22px 0 22px 36px; 
       background: url('../../../modules/geoloc/images/mbcg.png') left center no-repeat;         
       text-align: left;
       margin-left: 2px;
 }
 .res_mbg {
       line-height: 35px; 
       padding: 22px 0 22px 36px; 
       background: url('../../../modules/geoloc/images/mbg.png') left center no-repeat;         
       text-align: left;
       margin-left: 2px;
 }
 .con
 {
 	line-height: 17px;
 	padding: 0 0 0 20px;
 	background: url('../../../modules/geoloc/images/connect.gif') left center no-repeat;
 	text-align: left;
 	margin-left: 2px;
 }
 .accon
 {
 	line-height: 17px;
 	padding: 0 0 0 20px;
 	background: url('../../../modules/geoloc/images/acg_small.png') left center no-repeat;
 	text-align: left;
 	margin-left: 2px;
 }
.mbcon
{
       line-height: 17px; 
       padding: 1px 0 1px 20px; 
       background: url('../../../modules/geoloc/images/mbcg_small.png') left center no-repeat;         
       text-align: left;
       margin-left: 2px;
 }
  .mbg {
       line-height: 17px; 
       padding: 1px 0 1px 20px; 
       background: url('../../../modules/geoloc/images/mbg_small.png') left center no-repeat;         
       text-align: left;
       margin-left: 2px;
 }
 .mb {
       line-height: 17px; 
       padding: 1px 0 1px 20px; 
       background: url('../../../modules/geoloc/images/mb_small.png') left center no-repeat;         
       text-align: left;
       margin-left: 2px;
 }
    .mb_stat {
       line-height: 17px; 
       padding: 1px 15px 1px 2px; 
       background: url('../../../modules/geoloc/images/mb_small.png') right center no-repeat;         
       text-align: left;
       margin-right: 2px;
 }
   .mbg_stat {
       line-height: 17px; 
       padding: 1px 15px 1px 2px; 
       background: url('../../../modules/geoloc/images/mbg_small.png') right center no-repeat;         
       text-align: left;
       margin-right: 2px;
 }
 
.help_mod
 {
       line-height: 20px; 
       padding: 1px 0px 1px 20px; 
       background: url('../../../modules/geoloc/images/help.png') left center no-repeat;         
       text-align: left;
       margin-right: 2px;
       	font-weight: bold;
 }

.info_mod
{
	line-height: 20px;
	padding: 1px 0px 1px 20px;
	background: url('../../../modules/geoloc/images/info.png') left center no-repeat;
	text-align: left;
	margin-right: 2px;
	font-weight: bold;
}

 
#content {
     margin-top: 0;
     position: relative;
     width: 100%;
     height: 400px;
}

 
#map {
     width: 100%;
     height: 600px;
}
 

#map_bloc {
     position: relative;
     top: 0;
     left: 0;
     width: 140px;
     height: 120px;
     overflow: hidden;
     border: 1px solid #aaa;
}

#map-wrapper {
     position: relative;
     height: 400px;
     width: 100%;

}

#sidebar {
     filter : alpha(opacity=80);
     -moz-opacity : 0.8;
     opacity : 0.8; 
     background: white;
     position: absolute;
     border: 1px solid #aaa;
     top: 0;
     width: 180px;
     height: 400px;
     overflow: auto;
}

#sidebar ul#sidebar-list {
     list-style: none;
     padding: 0;
     margin: 0;
}

#sidebar ul#sidebar-list li a strong {
     display: block;
}
#sidebar ul#sidebar-list li a span {
     font-style: italic;
     font-size: 11px;
}

body.sidebar-right #map-wrapper { margin-right: 200px; }
body.sidebar-right #sidebar { right: 0; }

body.nosidebar #map-wrapper { margin: 0; }
body.nosidebar #sidebar { display: none; }

body.sidebar-right a#button-sidebar-show,
body.nosidebar a#button-sidebar-hide { display: none; }

cartinf #btn-infcar-hide{ display: none; }

nocartinf a#btn-infcar-hide{ display: none; }




#toolbar {
     background: white;
     padding: 0;
     border: 1px solid #aaa;
     position: relative;
     width: 100%;
     height: 60px;
     top: 0;
}

/* holly hack for IE to get position:bottom right 
   see: http://www.positioniseverything.net/abs_relbugs.html
*/
/* Hides from IE-mac \*/
* html .#toolbar {height: 1%;};
html .#map_cont {height: 1%;};
html .#mess_info {height: 1%;};

/* End hide from IE-mac */

*html #toolbar { 
     /*height: 1px;*/
     background-image:none;
  
     }

#toolbar ul {
     list-style: none;
     margin: 0;
     padding: 5px 0 0 0;
}

#toolbar ul#sidebar-controls {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#toolbar ul#options {
	position: relative;
	bottom: 0;
	right: 0;
	margin-top:2px;
	margin-left:2px;
	line-height: 34px;
    height: 24px;
}

#toolbar ul li {
     display: inline;
}

#alert {
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     text-align: center;   
     display: none;
}

#alert p {
     width: 150px;
     margin: 0 auto 0 auto;
     padding: 10px;
     background: white;
     border: 1px solid #aaa;
}

body.loading #alert { display: block; }

#mypoint {
     background: white;
     padding: 0;
     width: 100%;
     height: 14px;
     border: 1px solid #aaa;
     position: relative;
     top: 0;
     font : monospace;
     font-size: 10px;
     text-align: right;
}

#inf_map {
     display: block;
     background: white;
     padding: 0;
     width: 100%;
     height: 100%;
     position: relative;
     top: 0;
     font : monospace;
     font-size: 10px;
}
.non {
display: none;
}
.oui {
display: block;
}
#aid_map {
     display: block;
     background: white;
     padding: 0;
     width: 100%;
     height: 100%;
     position: relative;
     top: 0;
}

#mess_info {
  background-color: #white;
  line-height: 10px;
  top: 0;
}
.sou_tit
{
	color: gray;
	margin-left: 2px;
}
/*<== general*/
/*<== module geoloc */