@charset"utf-8";
/*==> module geoloc : bloc V4 2019 */
/*full screen */
#map_bloc_ol {
   width:100%;
   height:180px;
}
#map_bloc_ol:-webkit-full-screen {
   height: 100%;
   margin: 0;
}
#map_bloc_ol:-ms-fullscreen {
   height: 100%;
}
#map_bloc_ol:fullscreen {
   height: 100%;
}
/*skin*/
.ol-control button, .ol-scale-line {
   background-color: var(--bs-primary);
   opacity: 0.8;
   color: white;
}
/*contrôles*/
#map_bloc_ol .ol-rotate {
   right: 3em;
   top: .5em;
}
#map_bloc_ol .ol-full-screen {
   right: .5em;
   top: .5em;
}

