@charset"utf-8";
/*==> module geoloc admin : bloc V4 2019 */
/*full screen */
#map_conf {
   width:100%;
   height:900px;
}
#map_conf:-webkit-full-screen {
   height: 100%;
   margin: 0;
}
#map_conf:-ms-fullscreen {
   height: 100%;
}
#map_conf:fullscreen {
   height: 100%;
}
/*skin*/
.ol-control button, .ol-scale-line {
   background-color: var(--bs-primary);
   opacity: 0.8;
   color: white;
}