@charset "utf-8";

html{font-size: 15px;}
body {padding-top: 150px; background:#fff;}
a:hover {text-decoration:none;}
/** <== Balise html   **/

a {
    color: #6f8343;;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus, a:hover {
    color: #ce6d00;
    text-decoration: underline;
}
#corps {max-width: 1344px;} /*la taille de mon corps*/

/*mon header*/
#header1 {
	max-width: 100%;
	padding: 20px;
	margin-right: auto;
    margin-left: auto;
}

#decorative2 {position:fixed;top:0;left:0;right:0;z-index:1032}
#decorative2 {z-index:100 !important}


#decorative2
{height: 140px; 
 border-bottom: 1px solid #ccc;
 border-top:5px solid red;
background: #555;
}
.container1 {
	max-width: 1344px;
	margin-right: auto;
    margin-left: auto;}

/* #container1 ::before{
content: "";
display: block;
position: absolute;
z-index: -1;
top: 0;
left: 0;
bottom: 0;
width: 33%;
background: rgb(142, 176, 55);
} */


/* le menu du header voir ailleur*/







/***********
decoration
*************/
#divSiteTitle {
    font-family: Allura, cursive;
    color: white;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.298039) 2px 4px 3px;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: none;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}


/* #col_LB{ la colonne de droite
 */

#footer1  {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(18, 18, 18);
    color: rgb(180, 173, 173);
	margin-top:15px;
    padding-top: 32px;
    line-height: 23px;
    font-size: 12px;
    text-transform: none;
}

.card {
    position: relative;
    display: block;
    background: #fefefe;
	border: 1px solid #969696;
	border-top: 9px solid #666;
	border-bottom: 4px solid #969696;
	border-radius: .025rem;
}

.card-article {
    position: relative;
    display: block;
	padding:1rem;
    background: #fefefe;
	border: 1px solid #969696;

}

.card-title {
    margin-bottom: .75rem;
    color: #9b0313;
}

.subune {   /* présentation des articles*/
    overflow: hidden;
    clear: both;
    margin-bottom: 3.125em;
}
.subune h2 {
	font-size: 1.525rem;
	background: #4d4d4d;
	color:#cacaca;
    text-transform: uppercase;
    font-family: "ProximaNova Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1;
	padding: 8px 10px;
}

.subune h2 a {
    display: block;
    background: #4d4d4d;
    color: #cacaca;
    padding: 8px 10px;
}
.subune h2 a:hover {
    color: #fff;
    padding: 8px 10px;
}


.bd-article {
    position: relative;
    margin: 1rem -1rem;
    border: solid #f7f7f9;
   
}

/**************
test jmd
********************/

.rouge{border:1px red solid}

.img-fluid1 {
    float: left;
    margin-right: 10px;
}


/* tailles max des avatars correction Bmag*/
.n-ava {
    max-width: 48px;
    max-height: 48px;

}

.n-ava-small {
    max-width: 48px;
    max-height: 48px;
    margin: 0.150rem;
}

.smil {
    width: 24px;
    height: 24px;
    display: inline;
}

.blockquote {
    background: #f7f7f7;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-left: .25rem solid #eceeef;
    font-style: italic;
    color: #666;
}