
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-dashcube:before { content: '\f210'; } /* '' */