/* extra css for cerulean */
:root{
--th-hauteurnavbar:59px;
}
div.list-group-item.list-group-item-action.active h5 {
color:white;
}
a.list-group-item.list-group-item-action.active h5 {
color:white;
}