#footer{
background-color: #4e5d6c;
border-color: transparent;
  color:#fff;
}

.navbar-default {
background-color: #4e5d6c;
border-color: transparent;
}


/*
.navbar {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
*/
.navbar .navbar-nav > li > a:hover {
color: #ebebeb;
    background-color: #485563;
}

.nav > li > a {
position: relative;
display: block;
padding: 10px 15px;
}

.navbar-divider {
margin-right: 0rem;
margin-left: 0rem;
}


