#photo .imagethumb a {
  height: 17px;
  width:  17px;
  padding: 2px;
  margin: 1px;
  
  border: 1px solid #777;
  background: #E6E7E2;

  float: left;
  line-height: 0px;
  text-align: center;
}

div.mp3 {
  height: 110px;
  width:  150px;
  padding: 10px;
  margin-bottom: 5px;

  float: left;
  line-height: 12px;
  text-align: left;

  border: 1px solid #000;
  background: #CACDC2;
}

#photo .imagethumb a:hover {
  border: 1px solid #000;
  background: #CACDC2;
}

#photo {
  text-align: center;
  width: 100%;
}

.custom-file-input:lang(fr) ~ .custom-file-label::after {
    content: "Choisir ..."
}
.custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Elegir ..."
}
.custom-file-input:lang(de) ~ .custom-file-label::after {
    content: "Wählen ..."
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse ..."
}
.custom-file-input:lang(zh) ~ .custom-file-label::after {
    content: "选择 ..."
}


