#footer{
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);







/* 
  background-color: #4e5d6c;
 */
  color:#fff;
}







.navbar {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-nav > li > a:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-left-color: transparent;
}
/*
.navbar .navbar-nav > li > a {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}



.navbar-inverse {
    background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
    background-image: -o-linear-gradient(#8a9196, #7a8288 60%, #70787d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(60%, #7a8288), to(#70787d));
    background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.navbar-inverse .badge {
    background-color: #5d6368;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-image: -webkit-linear-gradient(#404448, #4e5458 40%, #53595d);
    background-image: -o-linear-gradient(#404448, #4e5458 40%, #53595d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#404448), color-stop(40%, #4e5458), to(#53595d));
    background-image: linear-gradient(#404448, #4e5458 40%, #53595d);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff404448', endColorstr='#ff53595d', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.navbar .nav .open > a {
    border-color: transparent;
}

.navbar-nav > li.active > a {
    border-left-color: transparent;
}

.navbar-form {
    margin-left: 5px;
    margin-right: 5px;
}

 */

.nav > li > a {
position: relative;
display: block;
padding: 10px 15px;
}

.navbar-divider {
margin-right: 0rem;
margin-left: 0rem;
}


.btn-secondary {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-secondary:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-primary {
    background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
    background-image: -o-linear-gradient(#8a9196, #7a8288 60%, #70787d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(60%, #7a8288), to(#70787d));
    background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-primary:hover {
    background-image: -webkit-linear-gradient(#404448, #4e5458 40%, #53595d);
    background-image: -o-linear-gradient(#404448, #4e5458 40%, #53595d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#404448), color-stop(40%, #4e5458), to(#53595d));
    background-image: linear-gradient(#404448, #4e5458 40%, #53595d);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff404448', endColorstr='#ff53595d', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-success {
    background-image: -webkit-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -o-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#78cc78), color-stop(60%, #62c462), to(#53be53));
    background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff78cc78', endColorstr='#ff53be53', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-success:hover {
    background-image: -webkit-linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
    background-image: -o-linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f7d2f), color-stop(40%, #379337), to(#3a9a3a));
    background-image: linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff2f7d2f', endColorstr='#ff3a9a3a', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-info {
    background-image: -webkit-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-image: -o-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74cae3), color-stop(60%, #5bc0de), to(#4ab9db));
    background-image: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff74cae3', endColorstr='#ff4ab9db', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-info:hover {
    background-image: -webkit-linear-gradient(#20829f, #2596b8 40%, #279dc1);
    background-image: -o-linear-gradient(#20829f, #2596b8 40%, #279dc1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#20829f), color-stop(40%, #2596b8), to(#279dc1));
    background-image: linear-gradient(#20829f, #2596b8 40%, #279dc1);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff20829f', endColorstr='#ff279dc1', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-warning {
    background-image: -webkit-linear-gradient(#faa123, #f89406 60%, #e48806);
    background-image: -o-linear-gradient(#faa123, #f89406 60%, #e48806);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#faa123), color-stop(60%, #f89406), to(#e48806));
    background-image: linear-gradient(#faa123, #f89406 60%, #e48806);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffaa123', endColorstr='#ffe48806', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-warning:hover {
    background-image: -webkit-linear-gradient(#804d03, #9e5f04 40%, #a86404);
    background-image: -o-linear-gradient(#804d03, #9e5f04 40%, #a86404);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#804d03), color-stop(40%, #9e5f04), to(#a86404));
    background-image: linear-gradient(#804d03, #9e5f04 40%, #a86404);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff804d03', endColorstr='#ffa86404', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-danger {
    background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f17a77), color-stop(60%, #ee5f5b), to(#ec4d49));
    background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-danger:hover {
    background-image: -webkit-linear-gradient(#bb1813, #d71c16 40%, #e01d17);
    background-image: -o-linear-gradient(#bb1813, #d71c16 40%, #e01d17);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bb1813), color-stop(40%, #d71c16), to(#e01d17));
    background-image: linear-gradient(#bb1813, #d71c16 40%, #e01d17);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffbb1813', endColorstr='#ffe01d17', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.btn-link,
.btn-link:hover {
    border-color: transparent;
}

.breadcrumb {
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.nav-pills > li > a {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-pills > li > a:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
    background-color: none;
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.nav-pills > li.disabled > a,
.nav-pills > li.disabled > a:hover {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.pagination > li > a,
.pagination > li > span {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.pagination > li.active > a,
.pagination > li.active > span {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff141618', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.pagination > li.disabled > a,
.pagination > li.disabled > a:hover,
.pagination > li.disabled > span,
.pagination > li.disabled > span:hover {
    background-color: transparent;
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}








