/* A finaliser knacssv4 */

/************************************************************************
Dimension du site 
*************************************************************************/

#container {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	  width:100%;

}

/************************************************************************
La Partie HEADER de votre Site
*************************************************************************/
header { /* Le Header Complet */

	width: 100%;
	height: auto;
	margin-left:auto;
	margin-right:auto;

}


/************************************************************************
La Partie CENTRALE de votre Site     colonne (s) et partie centrale
*************************************************************************/
#centralcol{
   padding:10px;
}


#corps, #decofoot,#decohead{  /* corps= entre header et footer */
        max-width: 1560px;   /*   A changer si vous voulez divisible par 3 et par 4 */
 	margin-left:auto;
	margin-right:auto;
        padding:10px;
         }
/************************************************************************
La Partie Footer de votre Site
*************************************************************************/
#footer {
    height:auto;
    padding:10px;
	text-align: left;
	color: rgb(166, 168, 143);
	background:url(../images/footer-wrapper-bg.jpg) ;
}

#footer a {
	color: #ccc;
}


#pied {   /* c'est la fonction du temps d'affichage*/
	color: #333;
	text-align: center;
}

 /**************************************
  Menu de navigation sur le site Stu Nicholls _ CSSplay 
  ************************************************************* */

.menu {display:block; padding:0; margin:0; height:42px; position:relative;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
-ms-touch-action: none;
}
.menu img {position:absolute; left:5px; top:14px; z-index:100; display:none;}
.menu ul {padding:0; margin:0; border:1px solid #fff; background:#fff;}
.menu ul li {display:inline-block; position:relative; background:#ddd;}
.menu ul li {*display:inline;}
.menu ul li a {display:block; font:normal 16px/40px 'Roboto Condensed', arial, sans-serif; color:#444; text-decoration:none; padding:0 25px;}
.menu ul li a:hover {color:#fff;background:#8EB037;}                    
.menu ul li.current a {color:#c00; z-index:100;}
.menu ul li.current b {display:block; width:100%; height:40px; position:absolute;; top:0; left:0; background:url(trans.gif);}
.menu.center {text-align:center;}
.menu.right {text-align:right;}



@media only screen and (max-width:880px) {
.menu {width:200px;}
.menu.center {margin:0 auto; text-align:left;}
.menu.right {margin:0 0 0 auto; text-align:left;}
.menu img {display:block;}
.menu ul li {display:block; margin-bottom:-40px;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
.menu ul li:last-child {margin-bottom:0;}
.menu ul li.current {display:block; z-index:10;}
.menu:hover ul li {margin-bottom:0;}
}
@media only screen and (max-device-width:1024px) and (orientation:portrait) {
.menu {width:200px;}
.menu.center {margin:0 auto; text-align:left;}
.menu.right {margin:0 0 0 auto; text-align:left;}
.menu img {display:block;}
.menu ul li {display:block; margin-bottom:-40px;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
.menu ul li:last-child {margin-bottom:0;}
.menu ul li.current {display:block; z-index:10;}
.menu:hover ul li {margin-bottom:0;}
}
@media only screen and (max-device-width:480px) {
.menu {width:200px;}
.menu.center {margin:0 auto; text-align:left;}
.menu.right {margin:0 0 0 auto; text-align:left;}
.menu img {display:block;}
.menu ul li {display:block; margin-bottom:-40px;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
.menu ul li:last-child {margin-bottom:0;}
.menu ul li.current {display:block; z-index:10;}
.menu:hover ul li {margin-bottom:0;}
}


/************************************************************************
CSS Complémentaire pour vos  Formulaires
*************************************************************************/
form {  /* Délimitation de votre Formulaire*/
	padding: 2px;
	width: 99%;
}
form p {
	line-height:100%;
}
fieldset { /* Regroupe les différentes zones de votre Formulaire */
	padding: 15px;  /* padding in fieldset support spotty in IE *//*margin: 0;*/
}
legend { /* Titre pour identifier chaque fieldset */
	padding-bottom:3px;
}
label {
	display: block;
	float: left;
	width: 180px;
	margin-top: 3px;
	padding-right: 10px;
	text-align: right;
}
input[type=Submit], [type=Reset], [type=Return] {
	padding:1px 5px 1px 1px;
}
input[type=Password], [type=Text], [type=File], input[type=Radio], [type=Checkbox], textarea, select {
	margin-top: 5px;
	padding: 0;
}
input[type=Radio] { 
  vertical-align: text-bottom;
} 
textarea { /* Champs de Données */
  width: 98%;
}
form br {
	clear:left;
}

/*code trouvé sur le web pour formulaire responsive  */



@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  
  
  label {
    text-align: left;
}


  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=Text],
  input[type=File],
  input[type=Checkbox],
  input[type=email],
  input[type=url],
  input[type=Password],
  textarea,
  select {
    width: 100%;
    border: #548dd1 2px solid;
  }
}
@media (min-width: 1200px) {
  form > div > label,
    legend {
      text-align: right;
  }
}

/* ----------------------------------------------------------------------
  Utile pour débugger les positions
---------------------------------------------------------------------- */
.redborder {
  border: 1px solid red;
}
/*------------------------------
Pour rendre les vidéo youtube responsives
*******************************************/
    .videocontainer{
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      position: relative;
    }

    .videocontainer iframe, .videocontainer embed, .videocontainer object{
      width: 100%!important; height: 100%!important;
      position: absolute;
      top: 0; left: 0;
